@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

body {
  font-family: 'Merriweather', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}